+b('section').about.top-offset#about 
	+part({mod: 'gold'})
	.container.animate-staggered-fade.js-animation-block  
		h1 КТО ПРОВОДИТ ИНИЦИАЦИИ. ОБ АВТОРЕ КУРСА

		p.p2b АННА КАМАЛЛАЯ ХЕФОРС

		+b.main-video(style="background-image: url(images/about/video.jpg)")
			+play-btn({id: 'C0DPdy98e4c'})

		+e.text-wrap
			p.p2 Живые Знания Пирамид сворачивают старые контракты кармы и разворачивают новую звёздную карту пути. Как только ты  соприкасаешься с этими частотами, с тобой на связь начинают выходить Божества Высших Сфер (СверхЧастоты). От этих связей зависит любая жизненная ситуация, все материальные блага, благополучие во всех сферах жизни. Они начинают направлять, давать информацию, подсказывать и вести. Именно Их явление в твоей жизни - есть воплощение всех твоих планов, всех благ.
			
			p.p2 Все твои Божественные Сопровождающие тебя Силы- это также твои Ключи,  передающие доступ и подлинные настоящие СверхЧастоты на которых Живые Знания Пирамид становится доступными, а ты абсолютно счастлив и здоров. Необходима  крепкая Связь, чтобы развернуть целиком Силу присутствия  этих структур рядом с тобой. Именно от этого зависит всё благополучие твоей судьбы, крепкое физическое целостное тело и твоё завтра.

			p.p2 Я поведу тебя  так, чтобы ты мог адаптироваться в новых частотах и принять всю свою силу СверхСущества  до конца. С помощью инициаций, ты будешь осваивать всю силу, необходимую лично для тебя.  Пришло время взаимного партнерства с сотрудниками Меркаба, время осознанного  перемещения  в  новую реальность. С безмерной любовью, Камаллая.
