+b('section').contacts.top-offset#contacts
	+part({mod: 'gold'}) 
	.container.animate-staggered-fade.js-animation-block   
		h1 выражаю свое согласие перейти на новый уровень сверхзнания


		include ./main-form
