+b('section').download
	+part({})
	.container.animate-staggered-fade.js-animation-block  
		+e.wrap 
			+e.image-wrap 
				+e.image(src="images/download/book.png")
			+e.text-wrap 
				h1 скачать книгу

				h2 «Золотой Геном. Как перейти в сознание сверхчеловека в 2020 году?»

				+b.FORM.form.js-download(data-src="pdf/confidentiality.pdf")
					+e.row._just
						+input_style({placeholder: 'Email', mod: 'email required', name: 'email'})
						+btn({title: 'скачать', mod: '_yellow', button: true})
					+e.row
						+e.description.p4 Нажимая кнопку «Отправить», Вы соглашаетесь с 
							a(href="pdf/confidentiality.pdf" target="_blank") политикой конфиденциальности 
							| и правилами 
							a(href="pdf/confidentiality.pdf" target="_blank") обработки персональных данных.
