+b('footer').footer
	.container 
		+e.item(href="mailto:anx@goldenplatform.ru") anx@goldenplatform.ru
		+e.item(href="tel:+7 499 992-25-82") +7 499 992-25-82

		+e.social
			+e.social-link.fa.fa-facebook(href="#")
			+e.social-link.fa.fa-instagram(href="#")
			+e.social-link.fa.fa-vk(href="#")
		+e.item(href="#") Скачать приложение «Золотой Геном»

		+e.copyright © «Золотой Геном» 2019