-
    var items = [
        {title: 'Уровни инициаций',     href: '#levels'},
        {title: 'Об авторе',            href: '#about'},
        {title: 'Отзывы',               href: '#reviews'},
        {title: 'Подарки',              href: '#presents'},
        {title: 'Хочу участвовать',     href: '#contacts'}
    ]


+b('header').header
    .container  
        +b.hamburger-wrapper.js-hamburger
            +e.hamburger
                +e.bar


        +b.NAV.nav.js-nav.js-ps
            +b.close-menu.js-close-menu(src="images/svg/close.svg")
            each item in items
                +e.item.js-nav-item(href= item.href)= item.title
            +e.mobile-contacts
                //sorry 4 this shit
                +b.header-contacts
                    +e.item
                        +b.social
                            +e.link.fa.fa-facebook(href="#")
                            +e.link.fa.fa-instagram(href="#")
                            +e.link.fa.fa-vk(href="#")

                    +e.item
                        +e.link.email(href="mailto:anx@golden-platform.ru") golden-platform.ru
                    +e.item
                        +e.link.email(href="tel:+74999922582") +7 499 992-25-82
                    +e.item
                        +b.language 
                            +e.current en
                            +e.lang(href="#") ru

        +b.header-contacts
            +b.social
                +e.link.fa.fa-facebook(href="#")
                +e.link.fa.fa-instagram(href="#")
                +e.link.fa.fa-vk(href="#")

            +b.language 
                +e.current en
                +e.lang(href="#") ru

            +e.link._email._mobile(href="mailto:anx@golden-platform.ru") golden-platform.ru
            +e.link._tel._mobile(href="tel:+74999922582") +7 499 992-25-82
    
