+b('section').home
	+part({})
	
	+b.bg-gen._left(src="images/home/dnk-1.png")
	+b.bg-gen._right(src="images/home/dnk-2.png")


	.container.animate-staggered-up.js-animation-block-load
		+b.logo
			img(src="images/svg/logo.svg") 

		+b.main-title
			img(src="images/svg/title.svg")

		h1 Как перейти в сознание 
			span СверхЧеловека в 2020 году?

		p.p1 Сверх ускоренная эволюция сознания. 
		p.p1b Начало курса 20.02.2020

		+e.video-wrap
			+b.main-video(style="background-image: url(images/home/video-bg.jpg)")
				+play-btn({id: 'C0DPdy98e4c'})
