+b('section').know.top-offset
	+part({mod: 'gold'})
	
	.container.animate-staggered-up.js-animation-block 
		h1 Пришло время Живых Подлинных знаний

		+e.P.main-text.p2 Знания, которые вы не найдёте на
			| просторах интернета, так как они закодированы/заархивированы в клетках
			| вашего сознания. От носителя к носителю эти знания передаются посредством
			| активации Изначальной клетки памяти, посредством телепатической
			| коммуникации и инициаций.



		+e.wrap 
			+e.text-wrap 
				p.p2b Старые контракты заканчивают свою игру. Вы уже сами почувствовали, что страдания, обнуление по деньгам, ссоры, болезни уже дальше не могут продолжаться, поэтому вы здесь читаете эти строки.

				p.p3 Это ваша Изначальная
					| клетка памяти ведёт вас к синхронизации с ней, чтобы развернуть новую
					| жизнь, перейти туда, где вы абсолютно счастливы. Перестаньте исправлять
					| всё то, что вас не устраивает в жизни. Примите всё с любовью и ПЕРЕХОДИТЕ.
					| Вас ждёт АБСОЛЮТно НОВАЯ ЖИЗНЬ, полная волшебства в ЖИВОМ
					| Присутствии Поддержки, Любви и заботы о Вас Высшими Силами.



			+e.image-wrap
				+e.triangle(src="images/svg/triangle.svg")
