
-
	var left = ['Предназначение своей Души. Воплощение задачи Души во всецелой радости',
				'Как встретить того единственного, жизнь с которым будет самой волшебной сказкой?',
				'Как ваше тело омолодится? Как уйдут морщины и другие дефекты кожи тела?',
				'Как вы достигнете исцеление Души и тела?', 
				'Как перестать страдать уже в этом году? Не просто перестать, потому что отпустить, а потому что не останется причин для страданий. Все причины и следствия растворятся. ',
				'Как раскрыть весь свой потенциал, всю свою Силу в полную Мощь?',
				'Как стать открытым каналом связи с Высшими Силами - СверхЧастотами, которые навсегда начнут пребывать в вашем пространстве?',
				'Как притянуть наставников с Высших Планов, которые начнут заботиться о Вас и полностью преобразуют вашу жизнь в самое величайшее благо для вас и всех членов вашей семьи?',
				'Как стать по-настоящему обеспеченным и не нуждающимся ни в чём? Какие Могущественные Титанические Силы приносят и принесут всё то, в чём вы только можете нуждаться. Какие ключи?'
	]
	var right = [
					'Свиток “Золотой Геном”, где вы сами пропишите сценарии, которые вы хотите прожить. И все они проявятся уже в этом воплощении. ',
					'Ответы на все свои вопросы, посредством пробуждения клеток памяти.',
					'Вы перейдете в пространство совершенного строения Генома СверхЧеловека Нового времени',
					'Вы станете Живым Талисманом для всего своего окружения - Центр Света своей Вселенной. ',
					'Вы обретете связь со своим ДНК изначальной памяти и мирами сверхцивилизаций. ',
					'Вы узнаете, что такое на самом деле сверх способности и научитесь их разворачивать.Для вас станет образом жизни ясно, чисто видеть, ясно знать, ясно чувствовать и воплощать в жизнь самые смелые желания.',
					'Получив новое тело сознания - вы обретете абсолютно новые световые покровы, которые вибрируют такую частоту, которая переплавляет и выравнивает все несозвучные энергии. Это самая гармоничная и мощная защита.',
					'Когда Настоящая вторая половинка всегда с вами - это счастье невозможно описать словами. Жизнь приобретает новые краски, но кто ОНА/ОН? Не только вспомнить, узнать, но и познать истинное ЕДИНСТВО - это самое большое желание всех людей всех воплощений. ',
					'САМОЕ ГЛАВНОЕ, что вы получите - это перемещение вас на Корабль Меркаба, где, пройдя ряд инициаций Изначальной Клетки Памяти - Ваша Меркаба зажжётся огнём Любви, воскрешение в физическом теле, ваше Сияние станет созвучно со Всей Вселенной. Это Сознание Вечности. Вы станете Владыкой, Царём/Царицей своей собственной Вселенной на частоте, которую невозможно подделать - частота Подлинной Любви ко всему, что есть.',
					'Раскроются таланты, если вам ранее не везло, то теперь будет везти повсюду. Вы начнете выполнять свою истинную задачу души, а значит, словно на машине времени ускоренно продвинетесь на абсолютно новый качественный уровень жизни.',
					'Абсолютно новые энергии, новая жизнь. Это невозможно сравнить ни с чем другим, что вы знали до этого. Потому как с вами будут взаимодействовать НАПРЯМУЮ Сверх Частоты и ваш новый разум станет единственным хозяином тела. Вы вспомните, что ваша задача Души - Планетарного, Галактического и Вселенского уровней. Да, вы родились и шли всю эту жизнь, преодолевая страдания, чтобы подняться, воскреснуть и принести в этот Мир то, что ждёт вся Планета, всё Человечество и без вас не будет эта картина Единства целостной. Вы Тот Кто пребывает в этом теле пришёл развернуть План свой.'
	]



+b('section').learn.top-offset 
	+part({mod: 'gold'})
	.container 
		+e.dnk(src="images/learn/dnk-line.png")
		+e.wrap.animate-staggered-fade.js-animation-block 
			+e.col
				h2 вы узнаете
				
				ul.marked-list
					each item in left 
						li.p3= item 

				+e.image-wrap
					+e.img(src="images/svg/heart.svg")

				+e.bottom-text
					p.p2b ВЫ УЗНАЕТЕ НАМНОГО БОЛЬШЕ, ЧЕМ ПЕРЕЧИСЛЕНО ЗДЕСЬ. ГЛАВНОЕ, ЧТО ВЫ СМОЖЕТЕ ПРИМЕНИТЬ ЗНАНИЯ К ЛЮБОЙ ОБЛАСТИ ВАШЕЙ ЖИЗНИ. ИЗМЕНЕНИЯ ПОСЛЕДУЮТ НАСТОЛЬКО СТРЕМИТЕЛЬНО, ЧТО ЗАВИСИТ ТОЛЬКО ОТ ВАШЕЙ ГОТОВНОСТИ ПРИНЯТЬ ИХ. ВАШЕ СЧАСТЬЕ ВО ВСЕХ СФЕРАХ ЖИЗНИ - ЗАДАЧА ПОДЛИННОГО ДОМА - ИЗНАЧАЛЬНОЙ КЛЕТКИ ПАМЯТИ.	


			+e.col
				h2 вы получите
					
				ul.marked-list
					each item in right 
						li.p3= item 
