- 
	var cols = [

			{	
				title: 'ЗЕМНЫЕ КОДЫ ГЕНОМА СВЕРХЧЕЛОВЕКА',
				top: 'Полное очищение всех тонких тел от ментального мусора, ядов, деструктивных и негативных энергий, всех распадов, наносных энергий и кармических узлов, программ воздействия, клятв, обещаний, магии со всех воплощений и всего Рода. Соединение всех своих тел со всех планов, призыв всех частей Души в Единое целое. 21 код Верхнего Дома - это  частота, диапазон, импульс с сознанием поля  Света и Любви. ',
				list: [				
					'Повышение частот тела сознания до Изначальных Земных Кодов Сверх сознания',
					'Переход сознания в 4 измерение и далее до 9-го уровня',
					'Свобода от кармы на 50%',
					'Очищение всех тонких тел', 
					'Частоты омоложения на 2-3 года',
					'Частота притяжения счастья',
					'Личные помощники',
					'Частоты изобилия от 100 000 рублей',
					'Исцеление физического тела',
					'Очищение Рода ',
					'Притяжение подарков',
					'Освобождение от физической и душевной боли',
					'Поднятие на корабль Меркаба'
				],

				bottom: 'Занятия будут проходить 1 раз в 2 недели + 21 инициация  “21 Код Изначального Мужского Я” +подарки + взаимодействие в чате.',
				img: 'images/levels/lvl_1.jpg'
			},
			{	
				title: 'КОСМИЧЕСКИЕ КОДЫ ГЕНОМА СВЕРХЧЕЛОВЕКА',
				top: 'На этом уровне оказываются те кто чист и свободен от планетарных привязок и кармы. На чистые клеточки пропечатываются и Активируются Кристаллы, которые будут служить Вам для вашей счастливой жизни. Благодарность и радость - останется вашей единственной платой за всё, что Вам будут передавать по вашим запросам. Абсолютно новые ускоренные программы взлёта в финансовой сфере. ',
				list: [				
					'Повышение частот тела сознания до Изначальных Земных Кодов Сверх сознания',
					'Переход сознания на 10 уровень сознания и далее до 12-го уровня',
					'Свобода от кармы на 70%',
					'Увеличение прибыли (ключи)', 
					'Частоты омоложения на 5-7 лет',
					'Частота притяжения счастья х2',
					'Личные помощники',
					'Частоты изобилия от 300 000 рублей',
					'Гарантировано пробьётся денежный потолок ',
					'Исцеление физического тела ',
					'Аспекты Меркаба',
					'Открытие прямого Звездного канала с Богами.',
					'Обретение Звездного канала изобилия и полная смена финансовой реальности.',
					'Выход из привязок к негативным событиям ',
					'Обретение звездной второй половины.',
					'Создание связи души будущего ребёнка',
					'Восстановление иммунной и гормональной системы',
					'Материализация любых целей со 100% вероятностью через изначальное семя'
				],

				bottom: 'Занятия будут проходить 1 раз в 2 недели + 21 инициация  “21 Код Изначального Мужского Я” +подарки + взаимодействие в чате.',
				img: 'images/levels/lvl_2.jpg'
			},
			{	
				title: 'ТАЙНЫЕ КОДЫ ЕДИНОГО ЗОЛОТОГО ГЕНОМА. ПЕРЕХОД В СОЗНАНИЕ СВЕРХЧЕЛОВЕКА',
				top: 'Пробуждение, воскрешение. Соединение со своей Первой проекцией. Самый долгожданный уровень Души всех кто воплотился. На этом этапе эволюционного развития вашей Души вы станете абсолютно свободны от всех привязок, полное очищение кармы, выход изо всех игр и матриц. Этот этап эволюции просветленные называют "Нисхождением Святого Духа". Переход на частоту  сознания 21к 21. Выход изо всех матриц, абсолютное замещение тела сознания на Сверх Сознание - Божественное Сознание. ',
				list: [				
					'Повышение частот сознания до уровня Единого Интеллекта',
					'Активация целостного Золотого Генома',
					' СверхЧеловека Нового времен',
					'Переход сознания на 13 уровень сознания и далее до 28-го уровня', 
					'Свобода от кармы на 100%',
					'Вселенские ключи и коды изобилия',
					'Частоты омоложения на 10 лет',
					'Особые инициации',
					'Личные помощники высочайшего уровня',
					'Частоты изобилия  от 500 000 рублей и выше',
					'Индивидуальная карта на процветание именно вашей жизни (бизнеса, личной жизни, здоровья)',
					'Получите эффект мгновенных изменений Ясновидение Вселенского уровня',
					'Сознание вселенского уровня',
					'Станете абсолютно свободны от всех привязок, выход изо всех игр и матриц.',
					'Вы будете, ясно видеть, ясно слышать, ясно знать.',
					'Допуск к общению со Сверх Цивилизациями.',
					'Получите Свидетельство о прохождении посвящений (Карта-носитель)',
					'Вы сможете Сами давать инициации',
					'Инициации воскрешения'
				],

				bottom: 'Занятия будут проходить 1 раз в 2 недели + 21 инициация  “21 Код Изначального Мужского Я” +подарки + взаимодействие в чате.',
				img: 'images/levels/lvl_3.jpg'
			}

	]
+b('section').levels.top-offset#levels 
	+part({})
	.container.animate-staggered-up.js-animation-block  
		h1 УРОВНИ ИНИЦИАЦИЙ

		+e.P.subtitle.p2 Инициации - это ключи и коды перехода. Каждая мерность имеет свои ключи/коды, которые передаются посредством инициаций, освящений клеток памяти и прямого взаимодействия с Изначальным Золотым ДНК - Высшей Иерархией Света.

		p.p2b ПОСМОТРИ ВИДЕО-ОПИСАНИЕ ВСЕХ УРОВНЕЙ СОЗНАНИЯ


		+e.wrap 

			each item in cols
				-var index = i + 1
				+e.col.chain-border-wrap   
					+e.title-wrap
						h2= item.title


					+b.main-video(style="background-image: url(" + item.img +")")
						+play-btn({mod: '_small', id: 'C0DPdy98e4c'})

					+e.sub.P.p2b 2 месяца 
					+e.text-wrap.chain-border
						
							
						p.p2b= item.top

						+e.show-more-wrap.js-show-more 
							ul.marked-list
								each it in item.list
									li.p3= it
					
							+e.bottom-text.P.p2b= item.bottom
							
							+e.wtf-wrap
								+e.img-wrap
									+object_fit(item.img)
								+e.button-wrap
									+btn({title: '14 400 руб', mod: '_yellow', button: true})

									p.p4 Возможна рассрочка во время прохождения уровня. Стоимость за один 1-й уровень.

						+b.show-more-btn.js-show-more-btn
							span.js-show-more-text Показать еще


		+e.bottom-block.top-offset  
			+e.img(src='images/levels/dna.png')
			+e.bottom-wrap 
				p.p2b.gold Вы пришли сюда на звук частоты Изначального Дома - Изначальной клетки памяти. Именно Здесь рождаются Богатые, Успешные и Счастливые люди с Божественным Сверх сознанием. Те кто знают свою задачу Души, своё призвание, Те кто вспомнил себя и раскрыл свой потенциал. Вам открывается возможность перейти в Новую Золотую реальность, где всё уже есть по вашему запросу.
				
