-
	var items = [
		{
			title: 'ГОВОРИТ СФИНКС  '
		},
				{
			title: 'ОТВЕТЫ НА ВОПРОСЫ '
		},

		{
			title: 'СКЛАДЧИНА'
		}
	]
+b('section').listen.top-offset
	+part({}) 
	
	+e.bg(src="images/common/dnk-bottom.png")
	.container 
		h1 Послушай инициации, подаренные в открытый доступ


		+e.wrap 
			each item in items
				+e.video-wrap
					+e.title-wrap  
						h2= item.title
					+b.main-video(style="background-image: url(images/listen/vid.jpg)")
						+play-btn({mod: '_small', id: 'C0DPdy98e4c'})
	
