+b.main-form
	+b.FORM.form

		p.p2b Заполните все поля и мы свяжемся с Вами, чтобы помочь совершить трансакцию

		+e.row
			+input_style({placeholder: 'Ваше имя', mod: 'required', name: 'name', required: true})
		+e.row
			+input_style({placeholder: 'E-mail', mod: 'required', name: 'email', required: true})
		+e.row
			+input_style({placeholder: 'Телефон', mod: 'userphone required', name: 'phone', required: true})

		+e.row
			+select({name:"options",options:[
				{title:"Уровень «ЗЕМНЫЕ КОДЫ ГЕНОМА СВЕРХЧЕЛОВЕКА»",value:"1_level"},
				{title:"Уровень «КОСМИЧЕСКИЕ КОДЫ ГЕНОМА СВЕРХЧЕЛОВЕКА»",value:"2_level"},
				{title:"Уровень «КОСМИЧЕСКИЕ КОДЫ ГЕНОМА СВЕРХЧЕЛОВЕКА»",value:"3_level"}]})
		+e.row 
			+e.description.p4 Нажимая кнопку «Отправить», Вы соглашаетесь с 
					a(href="pdf/confidentiality.pdf" target="_blank") политикой конфиденциальности 
					| и правилами 
					a(href="pdf/confidentiality.pdf" target="_blank") обработки персональных данных.
			
		+e.row 
			+btn({title: 'отправить', mod: '_yellow', button: true})
