.overlay.js-overlay.js-close-popup.js-show-on-load(class=" ")
  


+b.popup-style.js-popup.js-show-on-load(data-id='callback' class=" ")
    +e.content.js-ps
        +b.btn-close.js-close-popup
        include ./main-form


+b.popup-style.js-popup.js-show-on-load(data-id='info' class=" ")
    +e.content
        +b.btn-close.js-close-popup
        
+b.popup-style.js-popup.js-show-on-load.js-popup-video(data-id='video' class=" ")
    +e.content._video
        +b.btn-close.js-close-popup
        
        +e.video-wrap.js-video-wrap(id='js-video-wrap')

+b.popup-style.js-popup.js-thx.js-show-on-load(class=" ")
    +e.content._thx
        +b.btn-close.js-close-popup
        
        h2 СПАСИБО ЗА ВАШУ ЗАЯВКУ!
