-
	var items = [
		{
			title: 'Инициация «Меркаба Источника»',
			text: 'Соприкосновение с Меркаба Источника - это соприкосновение и слияние в одно Священное Сердце. Очищение всех тел от обетов, клятв, тяжёлых контрактов. Множество Существ желают вновь и вновь повторить и пройти этот момент соприкосновения с Меркаба Могущества Источника, где ты абсолютно защищён и все твои тела собираются в один союз на совершенный звук.',
			price: '4 999 руб'
		},
		{
			title: '21 инициация “Пробуждение в изобилии”',
			text: 'Инициации, расширяющие сознание до уровня пробуждения клеточек памяти в мерности подлинного Изобилия',
			price: '19 990 руб '
		},
		{
			title: 'Карта - Носитель “ЗОЛОТОЙ ГЕНОМ” ',
			subtitle: '+ Голограмма (Инициации “Квинтэссенция изначальных миров” + “Освящение клеток памяти Чистым Единым Духом”)',
			text: 'Золотая карта - портал, которая инициирует связь между совершенными мерностями сознания, посредством новой коммуникации с полями живого присутствия. Карта индивидуальная с вашим именем. Карты и голограммы будут направлены по почте/курьером.',
			link: 'ПОДРОБНЕЕ О ЗОЛОТОМ ГЕНОМЕ ЧЕЛОВЕЧЕСТВА',
			price: '20 200 руб '
		}

	]

+b('section').presents.top-offset#presents   
	+part({mod: 'gold'}) 
	
	.container 
		h1 подарки

		+e.wrap.animate-staggered-up.js-animation-block 
			each item in items
				+e.col.chain-border-wrap 
					+e.img
						+object_fit('images/presents/frame.jpg')
					+e.text-wrap.chain-border
						h2= item.title 
						if(item.subtitle)
							+e.subtitle.p2b= item.subtitle
						p.p2b= item.text 
						if(item.link)
							+e.link.p3b(href='#')= item.link
						+e.wrapper 
							+e.H2.price= item.price 
