+b('section').reviews.top-offset#reviews 
	+part({})
	.container.animate-staggered-fade.js-animation-block  
		h1 отзывы


		+e.wrap.js-photobox
			+b.reviews-slider.js-reviews-slider 
				-for(var i = 0; i < 4; i++)
						-var index = i + 1
					
						+e.item-wrap
							+e.item
								+object_fit('images/reviews/video_' + index + '.jpg')
								+play-btn({mod: '_small'})
			+btn({title: 'показать еще отзывы', photobox: true, hrefs:'images/levels/lvl_1.jpg'}) 
			
		
