
//.js-animation-block.animate-
.animate-fade-in {
  opacity: 0;

  &._animate {
    transition: opacity 1s ease;
    opacity: 1;
  }
}


.animate-dialog {
  & > * {
    &:nth-child(even){
      transform: translateX(100px);
      opacity: 0;
    }
    &:nth-child(odd){
      transform: translateX(-100px);
      opacity: 0;
    }

  }



  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translatex(0%);
      opacity: 1;

      @for $i from 1 through 20 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + ms} !important;
        }
      }
    }
  }
}



.animate-fade-in-delay {
  opacity: 0;

  &._animate {
    transition: opacity 1s ease;
    transition-delay: 1s;
    opacity: 1;
  }
}

.animate-up {
  transform: translateY(100px);
  opacity: 0;

  &._animate {
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-up-short {
  transform: translateY(25px);
  opacity: 0;

  &._animate {
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-down {
  transform: translateY(-100px);
  opacity: 0;

  &._animate {
    transition: opacity 1s ease, transform 1s ease;
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-left {
  transform: translateX(100px);
  opacity: 0;

  &._animate {
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-right {
  transform: translateX(-100px);
  opacity: 0;

  &._animate {
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-staggered-up {
  & > * {
    transform: translateY(100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 3s ease, transform 2s ease;
      transform: translateY(0%);
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-up-many {
  & > * {
    transform: translateY(100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateY(0%);
      opacity: 1;

      @for $i from 1 through 20 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + ms} !important;
        }
      }
    }
  }
}
.animate-staggered-up-many-desk {
  @include media_1350 {
    & > * {
      transform: translateY(100px);
      opacity: 0;
    }

    &._animate {
      & > * {
        transition: opacity 1s ease, transform 1s ease;
        transform: translateY(0%);
        opacity: 1;

        @for $i from 1 through 20 {
          &:nth-child(#{$i + "n"}) {
            transition-delay: #{($i - 1) * 300 + ms} !important;
          }
        }
      }
    }
  }
}

.animate-staggered-up-fast {
  & > * {
    transform: translateY(100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateY(0%);
      opacity: 1;

      @for $i from 1 through 20 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 150 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-right {
  & > * {
    transform: translateX(-100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateX(0%);
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-right-l {
  & > * {
    transform: translateX(-100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateX(0%);
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 500 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-down {
  & > * {
    transform: translateY(-100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateY(0%);
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 100 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-down-l {
  & > * {
    transform: translateY(-50px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateY(0%);
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 1000 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-left {
  & > * {
    transform: translateX(100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateX(0%);
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-left-l {
  & > * {
    transform: translateX(100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: translateX(0%);
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 500 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-fade {
  & > * {
    transform: scale(0.9);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 2s ease, transform 2s ease;
      transform: scale(1);
      opacity: 1;

      @for $i from 1 through 20 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 150 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-fade-simple {
  & > * {
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease;
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + 300 + ms} !important;
        }
      }
    }
  }
}

.animate-staggered-fade-simple-l {
  & > * {
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity .5s ease;
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 300 + ms} !important;
        }
      }
    }
  }
}

.animate-fade-rotate {
  transform: scale(0.9) rotateX(20deg) translateY(100px);
  opacity: 0;

  &._animate {
    transition: opacity 1s ease, transform 1s ease;
    transform: scale(1) rotateX(0deg) translateY(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

.animate-staggered-fade-rotate {
  perspective: 1000px;

  & > * {
    transform: scale(0.9) rotateX(20deg) translateY(100px);
    opacity: 0;
  }

  &._animate {
    & > * {
      transition: opacity 1s ease, transform 1s ease;
      transform: scale(1) rotateX(0deg) translateY(0);
      transform-origin: 50% 100%;
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i + "n"}) {
          transition-delay: #{($i - 1) * 150 + ms} !important;
        }
      }
    }
  }
}
