.footer {
  padding-top: 1px;

  .container {
  	display: flex;
  	justify-content: space-between;
  	height: 120px;
  	align-items: center;

  }


  	&__item {
	  	color: $yellow;
	  	font-style: normal;
		font-size: 20px;
		line-height: 24px;
	  }

	&__social-link {
	font-size: 24px;
	margin: 0 8px;
	color: $yellow;
	}

  
 
}

@include media_1700 {
	.footer {
		.container {
			height: 104px;
		}
		
		&__item {
			font-size: 16px;
		}

		&__copyright {
			font-size: 14px;
		}
	}
}

@include media_1200 {
	.footer {
		.container {
			flex-wrap: wrap;

		}

		&__item {
			font-size: 14px;
		}

		&__copyright {
			margin: 0 auto;
		}
	}
}

@include media_960 {
	.footer {

		&__item {
			max-width: 160px;
			font-size: 12px;
			line-height: 1.4;
		}

		&__copyright {
			font-size: 10px;
			width: 100%;
			text-align: center;
		}
	}
}

@include media_700 {
	.footer {
		padding: 10px 0;

		.container {
			text-align: center;
			height: auto;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;

		}

		&__item {
			margin-bottom: 15px;
		}

		&__social {
			margin-bottom: 15px;
		}
	}
}