.form-label {
    color: #59696c;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 100%;
    text-align: left;
}

.form {
    text-align: justify;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 688px;
    text-align: center;

    &__description {
        a {
            color: $yellow;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__row {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        vertical-align: top;
        margin-top: 30px;
        justify-content: center;

        &_just {
            justify-content: space-between;
        }

        &_center {
            justify-content: center;
        }

        &_3-col {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__row_3-col &__col {
        width: calc(100% / 3 - 40px / 3);
    }

    &__col {
        width: calc(50% - 10px);
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        margin-bottom: 25px;

        &_column {
            flex-direction: column;
        }
    }

    textarea {
        resize: none;
        overflow: hidden;
        padding-top: 15px;
        transition: none;
        height: 132px;
    }

    @include media_1700 {
        max-width: 438px;

        &__row {
            margin-top: 40px;
        }

        &__col {
            width: 100%;
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include media_1200 {
        &__row {
            margin-top: 25px;
        }

    }

    @include media_700 {
        &__row {
            margin-top: 20px;
        }

    }


}

.input-style {
    position: relative;
    width: 100%;

    &__input {
        position: relative;
        z-index: 9;
        transition: $default_transition;
        height: 60px;
        background: transparent;
        width: 100%;
        padding: 20px 10px;
        border: 2px solid $gold;
        color: $black;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        color: $gold;


        &.error {
            border-bottom: 4px solid #f2664b;
        }

        &.valid {
            border-bottom: 4px solid #29b081;
        }

        &:focus,
        &:active~& {
            &__placeholder {}
        }
    }

    &__require-icon {
        position: absolute;
        font-size: 16px;
        right: 10px;
        top: 21px;
        color: orange;
    }

    &__input.valid~&,
    &__input.error~&,
    &__input:focus~&,
    &__input._active~& {
        &__placeholder {
            top: -15px;
        }
    }

    &__placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        z-index: 11;
        white-space: nowrap;
        pointer-events: none;
        color: $gold;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        transition: $default-transition;

    }


    @include media_1200 {
        &__input {
            height: 50px;
        }
    }

    @include media_700 {
        &__input {}

        &__placeholder {
            font-size: 14px;
        }

        &__input.valid~&,
        &__input.error~&,
        &__input:focus~&,
        &__input._active~& {
            &__placeholder {
                top: -12px;
            }
        }

    }
}