$bar-width: 35px;
$bar-height: 3px;
$bar-spacing: 9px;



.hamburger-wrapper {
	display: none;
	justify-content: center;
	align-items: center;
	padding: 0;
	cursor: pointer;
	z-index: 20;

	@include media_1500 {
		display: flex;
	}


	&__hamburger {
		width: $bar-width;
		height: $bar-height + $bar-spacing * 2;
		position: relative;
		z-index: 1;
		cursor: pointer;
		display: flex;
		justify-content: flex-end;
		transition: 0.4s ease-in-out;
	}

	&__bar {
		width: $bar-width;
		height: $bar-height;
		position: relative;
		transform: translateY($bar-spacing);
		background: $gold;
		transition: all  300ms;

		&::before,
		&::after {
			content: "";
			position: absolute;

			height: $bar-height;
			will-change: transform;
			right: 0;
			background: $gold;
			border-radius: 1px;
		}

		&:before {
			bottom: $bar-spacing;
			transition:  .3s ease;
			width: $bar-width;
		}

		&:after {
			top: $bar-spacing;
			transition:  .3s ease;
			width: $bar-width;

		}
	}

	&._active & {
		&__bar {
			background-color: transparent;
			width: $bar-width;

			&::after,
			&::before {
				width: $bar-width;
				background: $black;
			}

			&:after {
				top: 0;
				transform: rotate(45deg);
				transition: width 0ms 300ms, top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), color .3s ease, top .3s ease, bottom .3s ease;
			}

			&:before {
				bottom: 0;
				transform: rotate(-45deg);
				transition: width 0ms 300ms, bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), color .3s ease, top .3s ease, bottom .3s ease;
			}
		}

	}
}














