.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }


}

.header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;

    &__item {
        position: relative;
        color: $white;
        padding: 30px 20px;
        font-family: $mons;

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 5px;
            width: 0;
            left: 0px;
            top: 0px;
            background: #DEC163;
            box-shadow: 0px 4px 20px #F5E37A;
            opacity: 0;
            transition: $default-transition;
        }

        &:hover:before {
            opacity: 1;
            width: 100%;
        }
    }

    &__mobile-contacts {
        display: none;
    }

}

.close-menu {
    display: none;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
}

.language {
    height: 45px;
    width: 45px;
    position: relative;
    cursor: pointer;
    margin: 0 30px;

    &__current,
    &__lang {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        color: $gold;
    }

    &__lang {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        transition: $default-transition;
        opacity: 0;

        &:hover {
            color: $white;
        }
    }

    &:hover & {
        &__lang {
            transform: translateY(100%);
            opacity: 1;
        }
    }
}

.social {
    display: flex;
    align-items: center;

    &__link {
        color: $gold;
        margin: 0 5px;
    }
}

.header-contacts {
    &__link {
        color: $gold;
        margin: 0 10px;
    }
}

@include media_1700 {
    .header {
        height: 70px;
    }

    .nav {
        position: fixed;
        left: 0;
        top: 0;
        background: $black;
        width: 320px;
        z-index: 50;
        height: 100vh;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        justify-contetn: center;
        text-align: center;
        transform: translateX(-100%);
        transition: $default-transition;
        padding-bottom: 30px;
        z-index: 60;

        &._active {
            transform: translateX(0);
        }

        &__item {
            margin-bottom: 30px;
            padding: 0;

            &:before {
                display: none;
            }

            &:hover {
                color: $yellow;
            }
        }

        &__mobile-contacts {
            display: block;

            .header-contacts {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;


                &__item {
                    margin-bottom: 30px;
                }
            }

        }

        .language {
            &:hover {
                &__lang {
                    transform: translateY(-100%);
                }
            }

        }

    }

    .close-menu {
        display: block;
    }
}

@include media_1200 {
    .nav {
        padding-top: 70px;

        &__item {
            font-size: 14px;
            margin-bottom: 25px;
        }
    }


    .header-contacts {
        &__link {
            font-size: 14px;
        }

    }
}

@include media_960 {
    .nav {

        &__item {
            margin-bottom: 20px;
        }
    }


    .header-contacts {
        &__link {
            font-size: 14px;
        }

    }

    &__mobile-contacts {
        .header-contacts {
            margin-top: 30px;

            &__item {
                margin-bottom: 20px;
            }
        }

    }
}

@include media_700 {
    .header {
        .social {
            display: none;
        }

        .header-contacts {
            &__link {

                &_mobile {
                    font-size: 0;
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.2);
                    margin: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


                &_email:before,
                &_tel:before {
                    content: '';
                    font-family: $fa;
                    font-size: 18px;
                    color: $yellow;
                }

                &_email:before {
                    content: "\f0e0"
                }

                &_tel:before {
                    content: "\f095";
                    font-size: 22px;
                }
            }
        }
    }

    .nav {
        &__mobile-contacts {
            .social {
                display: flex;
            }

            .header-contacts {
                margin-top: 10px;

                &__item {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .language {
        height: 42px;
        width: 42px;
        margin: 0 5px;
    }
}