.overlay,
.popup-style {
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.6s ease;
  width: 100%;
  height: 100%;

  &._active {
    transform: translateX(0);
  }
}

.overlay {
  z-index: 200;
  transition-delay: .1s;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-120%);
  &._active {
    transition-delay: 0s;
  }
}

.popup-style {
  z-index: 210;
  background-color: transparent;
  transform: translateX(-120%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  pointer-events: none;
  width: 100%;
  height: 100%;


  &._active {
    transition-delay: .1s;
  }

  &__content {
    position: relative;
    pointer-events: auto;
    width: 100%;
    max-height: 100%;
    max-width: 1036px;
    background: $dark_purple;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;


    background-size: cover;


    &_video:after {
          content: "";
          display: block;
          padding-bottom: 56.25%;
    }

    &_thx {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 320px;
      max-width: 500px;
    }
  }


  &__video-wrap {
    position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
  }

}

.btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 18px;
  height: 18px;
  background: url(../images/svg/close.svg);
  background-size: cover;
  cursor: pointer;
  z-index: 100500;
}
