.select-module {
    position: relative;
    width: 100%;

    &__label {
        display: block;
        padding-left: 20px;
        margin-bottom: 9px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;

        span {
            color: red;
        }
    }

    &__select {
        display: none;
    }

    &__text-block {
        position: relative;
        transition: 0.3s ease;
        height: 60px;
        border: 2px solid $gold;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        padding: 10px 30px 10px 20px;
        cursor: pointer;
        color: $gold;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
    }

    &__input-container {
        z-index: 11;
        position: relative;
        background: $dark_purple;

        &:after {
            content: "\f107";
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s ease;
            display: block;
            pointer-events: none;
            font-family: $fa;
            color: $yellow;
            font-size: 20px;
        }
    }

    &__dropdown {
        z-index: 10;
        position: absolute;
        left: 0;
        top: 100%;
        transform: translateY(20px);
        pointer-events: none;
        opacity: 0;
        transition: 0.3s ease;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 1, 5, 0.1);
        width: 100%;
        //padding: 10px;
        border: 2px solid $gold;
        background: $dark_purple;
    }

    &__scroll {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        max-height: 250px;
    }

    &__option {
        position: relative;
        cursor: pointer;
        transition: 0.3s ease;
        padding: 10px 15px;
        color: $gold;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;

        &:first-child {
            margin-top: 0;
        }

        &._active,
        &:hover {
            color: $dark_purple;
            background: $yellow;
        }
    }

    .ps-scrollbar-y-rail {
        right: 2px !important;
    }

    &._active & {
        &__input-container {
            &:after {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        &__dropdown {
            transform: translateY(0);
            opacity: 1;
            pointer-events: auto;
        }
    }
}


@include media_1700 {
    .select-module {
        &__option {
            padding: 10px;
            font-size: 14px;
            height: auto;
        }
    }
}

@include media_700 {
    .select-module {
        &__text-block {
            height: 50px;
            font-size: 14px;
            text-align: left;
            line-height: 1.4;
        }

        &__option {
            padding: 5px;
            font-size: 12px;
        }
    }
}