.about {
    text-align: center;

    h1 {
        max-width: 960px;
        margin: 0 auto 18px;
    }


    &__text-wrap {
        max-width: 1260px;
        margin: 100px auto 0;
    }

    .p2 {
        position: relative;
        margin-bottom: 50px;

        &:before {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            background: $gold;
            transform: rotate(-45deg);
            position: absolute;
            left: 50%;
            bottom: -30px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:last-child:before {
            display: none;
        }
    }
}

@include media_1700 {
    .about {
        h1 {
            max-width: 100%;
        }

        &__text-wrap {
        	max-width: 890px;
        }
    }
}


@include media_1200 {
    .about {

        &__text-wrap {
            max-width: 620px;
        }
    }
}


@include media_960 {
    .about {

        &__text-wrap {
           margin: 40px auto 0;
        }

        .p2 {
            margin-bottom: 30px;

            &:before {
                    bottom: -18px;
            }
        }
    }
}