.download {
	
	padding-top: 40px;

	&__wrap {
		display: flex;
		padding: 20px 100px;
		text-align: center;
		background: linear-gradient(90deg, #011022 3.62%, #00224A 17.17%, #6D4CAF 50.03%, #0E167E 76.05%, #030843 100.02%);

	}

	&__image-wrap {
		flex: 1 0 auto;
	}

	&__image {
		margin-top: -77px;
	}

	&__text-wrap {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	h2 {
		max-width: 660px;
		margin: 10px auto 40px;
	}

	.form {
		max-width: 660px;
	}

	.input-style {
		max-width: 320px;
	}
}


@include media_1700 {
	.download {
		&__wrap {
			padding: 20px 40px;
		}

		&__image-wrap {
			max-width: 366px;
		}

		&__image {
			margin-top: 0;
		}

		.form {
			max-width: 550px;

			&__row {
				flex-wrap: nowrap;
			}
		}

		.btn-style {
			margin-left: 20px;
		}

	}
}


@include media_1200 {
	.download {
		h2 {
			margin-bottom: 0;
		}
		&__wrap {
			padding: 20px 0;
		}

		&__image-wrap {
			max-width: 272px;
		}

		&__text-wrap {
			max-width: 380px;
			margin-left: 50px;
		}

		.form {


			&__row {
				flex-wrap: wrap;
			}
		}

		.btn-style {
			margin-left: 0;
			margin-top: 30px;
			width: 100%;
		}

		.input-style {
			width: 100%;
			max-width: 100%;
		}

	}
}

@include media_960 {
	.download {
		.form {
			width: auto;
		}

		&__image-wrap {
			max-width: 236px;
		}

		&__wrap {
			align-items: center;
		}

		&__text-wrap {
			margin: 0 60px;
		}
	}
}


@include media_700 {
	.download {
		.form {
			width: 100%;
		}

		&__image-wrap {
			max-width: 156px;
		}

		&__wrap {
			display: block;
			padding: 20px;
		}

		&__text-wrap {
			margin: 30px 0;
		}
	}
}
