.home {
    position: relative;
    min-height: 100vh;
    padding-top: 130px;
    text-align: center;

    .container {
        position: relative;
    }



    h1 {
        max-width: 1200px;
        margin: 45px auto 18px;
    }
}

.logo {
    width: 324px;
    margin: 0 auto 60px;

    img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

.main-title {
    img {
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}



.bg-gen {
    position: absolute;

    top: 0;
    display: block;
    max-width: 45%;
    height: auto;

    &_left {
        left: 0;
    }

    &_right {
        right: 0;
    }
}

@include media_1500 {

    .logo {
        width: 254px;
        margin-bottom: 55px;
    }

    .main-video {
       
    }

    .home {
        h1 {
            max-width: 900px;
        }
    }
}

@include media_1200 {
    .home {
        padding-top: 100px;

        h1 {
            margin: 30px auto 18px;
        }
    }

    .logo {
        width: 230px;
    }
}


@include media_960 {
    .home {

        h1 {
            margin: 30px auto 15px;
        }
    }

    .logo {
        width: 186px;
        margin-bottom: 40px;
    }
}



@include media_700 {
    .home {
        padding-top: 85px;

        h1 {
            margin: 20px auto 15px;
        }
    }

    .logo {
        width: 138px;
        margin-bottom: 30px;
    }

    .bg-gen {
        display: none;
    }
}