.know {
	position: relative;
	h1 {
		text-align: center;
		margin-bottom: 20px;
	}

	&__wrap {
		display: flex;
		max-width: 1260px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
	}

	&__main-text {
		display: block;
		text-align: center;
		max-width: 1260px;
		margin: 0 auto 40px;
	}

	&__text-wrap {
		max-width: 600px;
	}

	&__image-wrap {
		width: 100%;
		max-width:  457px;
		flex: 1 1 auto;

		img {
			width: 100%;
		}
	}

	.p2b {
		margin-bottom: 20px;
	}
}

@include media_1700 {
	.know {
		&__wrap {
			max-width: 860px;
		}

		&__image-wrap {
			max-width:  358px;
		}
		&__text-wrap {
			max-width: 476px;
		}

	}
}

@include media_1200  {
	.know {

		&__wrap {
			max-width: 620px;
		}
		&__image-wrap {
			max-width: 210px;
			margin-left: 20px;
		}

		&__text-wrap {
			max-width:380px;
		}
	}
}


@include media_700  {
	.know {

		&__wrap {
			max-width: 100%;
			display: block;
		}
		&__image-wrap {
			max-width: 130px;
			margin: 20px auto;
		}

		&__text-wrap {
			max-width: 100%;
		}
	}
}
