.learn {

    .container {
        position: relative;
    }

    &__dnk {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        max-width: 1920px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        max-width: 1426px;
        margin: 0 auto;
    }

    &__col {
        width: 100%;
        max-width: 572px;
        background: $dark_purple;
        border: 10px solid $yellow;
        padding: 50px 40px 60px 40px;
    }

    h2 {
        text-align: center;
        margin-bottom: 35px;
    }

    &__image-wrap {
        margin: 60px auto;
    }

    &__img {
        margin: 0 auto;
        max-width: 276px;
    }

    .p2b {
        color: $gold;
    }
}

@include media_1700 {
    .learn {
        &__col {
            max-width: 500px;
            border: 8px solid $yellow;
            padding: 45px 35px 40px 35px;
        }

        &__img {
            max-width: 242px;
        }

        &__image-wrap {
            margin: 55px auto;
        }

    }
}


@include media_1200 {
    .learn {
        &__col {
            max-width: 360px;
            padding: 40px 30px;
        }

        &__image-wrap {
            margin: 50px auto;
        }


        &__dnk {
            max-width: 1000px;
        }
    }
}


@include media_960 {
    .learn {
        &__col {
            max-width: 325px;
            padding: 30px 25px;
        }

        &__image-wrap {
            margin: 40px auto;
        }


        &__dnk {
            display: none;
        }
    }
}


@include media_700 {
    .learn {

        &__wrap {
            display: block;
        }

        &__col {
            max-width: 100%;
            padding: 30px 20px;
        }

        &__image-wrap {
            margin: 30px auto;
        }


        &__dnk {
            display: none;
        }


        &__img {
            max-width: 138px;
        }
    }
}