.levels {

    text-align: center;

    &__subtitle {
        max-width: 1275px;
        margin: 20px auto;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__col {
        width: calc(100% / 3 - 200px/3);
        display: flex;
        flex-direction: column;
    }

    &__title-wrap {
        min-height: 176px;
        // margin-bottom: 70px;
        text-align: left;
        display: flex;
        align-items: flex-end;
    }

    &__text-wrap {
        text-align: left;
        flex: 1 1 auto;

    }

    &__sub {
        color: $gold;
        text-align: left;
        margin-bottom: 20px;
    }

    ul {
        margin: 60px 0 40px;
        display: block;
    }

    &__bottom-text {
        color: $gold;
        margin-bottom: 60px;
    }

    &__wtf-wrap {
        display: flex;
        align-items: stretch;
    }

    &__img-wrap {
        width: 100%;
        max-width: 240px;
        flex: 1 1 auto;
    }

    &__button-wrap {
        margin-left: 18px;
        max-width: 198px;
    }


    .btn-style {
        min-width: 198px;
        margin-bottom: 20px;
    }

    .p4 {
        color: $gray;
    }

    &__bottom-block {
        position: relative;
        background: $black;
        border: 10px solid $yellow;
        box-sizing: border-box;
        box-shadow: 0px 4px 60px #E7CF67;
        padding: 50px;
        text-align: left;
    }

    &__bottom-wrap {
        max-width: 60%;
    }

    &__img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 40%;
        height: 100%;
    }
}

@include media_1700 {
    .levels {
        &__wrap {
            margin-top: 35px;
        }

        &__col {
            width: calc(100% / 3 - 100px/3);
            display: flex;
            flex-direction: column;


        }

        &__text-wrap {}

        &__wtf-wrap {
            display: block;

        }

        &__button-wrap {
            margin-left: 0;
            max-width: 100%;
        }

        &__img-wrap {
            max-width: 100%;
            margin-bottom: 20px;
        }

        &__bottom-text {
            margin-bottom: 50px;
        }

        &__img {
            max-width: 100%;
        }

        .object-fit-wrap:after {
            padding-top: 65%;
        }

        .btn-style {
            width: 100%;
        }

        &__bottom-block {
            border: 8px solid $yellow;
            padding: 45px;
        }

    }
}

@include media_1200 {
    .levels {
        &__wrap {
            margin-top: 35px;
        }

        &__col {
            width: calc(100% / 3 - 66px/3);
        }


        &__bottom-text {
            margin-bottom: 30px;
        }


        &__bottom-block {
            padding: 40px;
            overflow: hidden;
        }

        &__img {
            right: -25%;
        }

    }
}

@include media_960 {
    .levels {
        &__wrap {
            display: block;
        }

        &__col {
            width: 100%;
            margin-bottom: 38px;
        }

        .main-video {
            max-width: 100%;
        }

        ul {
            margin: 40px 0;
        }

        &__wtf-wrap {
            display: flex;
            max-width: 510px;
            width: 100%;
        }

        &__button-wrap {
            margin-left: 20px;
        }

        &__title-wrap {
            min-height: 10px;
        }

        &__text-wrap {
            padding-bottom: 30px;

        }

        &__show-more-wrap {
            display: none;

        }


        &__img {
            right: -45%;
        }

    }
}

@include media_700 {
    .levels {
        &__wtf-wrap {
            display: block;
            max-width: 100%;
            width: 100%;
        }

        &__button-wrap {
            margin-left: 0;
        }

        &__bottom-block {
            padding: 25px;
        }

        &__bottom-wrap {
            max-width: 100%;
        }

        &__img {
            max-width: 800px;
            right: 0;
            transform: translate(81%, 52%);
        }
    }
}