.listen {
    padding-bottom: 250px;
    position: relative;

    h1 {
        max-width: 1200px;
        text-align: center;
        margin: 0 auto 60px;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__video-wrap {
        width: calc(100%/3 - 140px/3)
    }

    &__bg {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        z-index: -1;
        bottom: -15%;
        left: 0;
        right: 0;
    }
}

@include media_1700 {
    .listen {
        padding-bottom: 200px;
    }
}


@include media_1200 {
    .listen {
        padding-bottom: 170px;

        &__title-wrap {
            min-height: 90px;
        }

        &__video-wrap {
            width: calc(100%/3 - 80px/3)
        }

        .main-video {
            margin: 0 auto;
        }
    }
}


@include media_960 {
    .listen {
        padding-bottom: 150px;

        &__title-wrap {
            min-height: 10px;
        }

        &__wrap {
            display: block;
        }

        &__video-wrap {
            width: 100%;
        }

        .main-video {
            margin: 25px auto 40px;
            max-width: 100%;
        }

        &__bg {
            bottom: 0;
        }
    }
}

@include media_700 {
    .listen {
        padding-bottom: 90px;

        h1 {
            margin-bottom: 40px;
        }

        .main-video {
            margin: 15px auto 20px;
            max-width: 100%;
        }
    }
}