.main-form {
	position: relative;
	max-width: 	940px;
	background: $dark_purple;
	border: 10px solid $yellow;
	box-sizing: border-box;
	box-shadow: 0px 4px 60px #E7CF67;
	padding: 60px;
	margin: 0 auto;

	&:before, 
	&:after {
		content: "";
		display: block;
		width: 412px;
		height: 269px;
		position: absolute;
		z-index: -1;
		background: url(../images/contacts/frame.png);
	}

	&:before {
		left: 40px;
		top: 50%;
		transform: translate(-100%, -50%);
	}

	&:after {
		right: 40px;
		top: 50%;
		transform: translate(100%, -50%) scale(-1, 1); 
	}

}

@include media_1700 {
	.main-form {
		max-width: 660px;
		border: 8px solid $yellow;
		padding: 55px;
	}
}


@include media_1200 {
	.main-form {
		max-width: 460px;
		border: 8px solid $yellow;
		padding: 55px;
	}
}


@include media_700 {
	.main-form {
		border: 6px solid $yellow;
		padding: 10px;
	}
}