.presents {
    h1 {
        text-align: center;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__col {
        width: calc(100% / 3 - 220px / 3)
    }

    &__img {
        margin-bottom: 60px;
    }

    .object-fit-wrap {
        border: 10px solid $yellow;

        &:after {
            padding-top: 60%;
        }
    }

    &__price {
        color: $white;
        position: relative;
        display: inline;
        background: none;
        -webkit-text-fill-color: $white;

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 110%;
            height: 4px;
            background: $gold;
        }
    }

    &__link {
    	display: block;
        color: $yellow;
        margin: 30px 0;
    }


}

@include media_1700 {
    .presents {
        &__col {
            width: calc(100% / 3 - 100px / 3)
        }

        .object-fit-wrap {
            border: 8px solid $yellow;
        }
    }
}

@include media_1200 {
    .presents {
        &__col {
            width: calc(100% / 3 - 88px / 3)
        }

        .object-fit-wrap {
            border: 8px solid $yellow;
        }
    }
}


@include media_960 {
    .presents {

        &__wrap {
            display: block;
        }

        &__col {
            width: 100%;
        }

        &__img {
            margin-bottom: 20px;
        }

        &__text-wrap {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        h2 {
            margin: 25px 0;
            display: inline-block;
        }
    }
}
@include media_700 {
    .presents {
       

        &__col:last-child & {
            &__text-wrap {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

         h2 {
            margin: 20px 0 ;
         }

         &__link {
            margin: 20px 0 0;
         }
    }
}