.reviews {
    text-align: center;


}

.pbWrapper {
  img {
    display: inline-block;
  }
}

.reviews-slider {
    margin: 60px auto 100px;
    width: calc(100% - 100px);

    &__item-wrap {
        padding: 0 10px;
    }

    &__item {
        background: #fff;
        position: relative;

    }

    .object-fit-wrap:after {
        padding-top: 54%;
    }


}

@include media_1700 {
	.reviews {

	}

	.reviews-slider {
    	margin: 55px auto 80px;
	}
}

@include media_960 {
    .reviews-slider {
        margin: 40px auto 60px;
    }
}

@include media_700 {
    .reviews-slider {
       margin: 10px auto 60px;
       width: 100%;
    }
}
