extends ../layout.pug
block content
    include ../modules/home
    include ../modules/know
    include ../modules/download
    include ../modules/learn
    include ../modules/levels
    include ../modules/about
    include ../modules/reviews
    include ../modules/presents
    include ../modules/contacts
    include ../modules/listen


