include ../../node_modules/bemto.pug/bemto
include mixins/head.pug
include mixins/mixins.pug
doctype html
block variables
    -var headerClass
html(lang='ru')
    +head('Золотой геном')
    body
        +b.content
            include modules/header.pug
            +b.main
                block content
        include modules/footer.pug
        include modules/popups.pug
        script(src="js/bundle.js")
