$default-transition: 0.5s ease;

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    color: $white;
    background: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    font-family: $mons;


}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: $capt;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 135%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: linear-gradient(181.53deg, #F3E077 24.03%, #B68623 67.53%, #D8A838 91.05%), #DEC163;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



    @include media_1500 {
        font-size: 46px;
    }

    @include media_1200 {
        font-size: 36px;
    }

    @include media_900 {
        font-size: 32px;
    }

    @include media_760 {
        font-size: 22px;
    }
}

h2 {
    font-family: $capt;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 125%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;


    background: linear-gradient(181.53deg, #F3E077 24.03%, #B68623 67.53%, #D8A838 91.05%), #DEC163;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media_1500 {
        font-size: 26px;
    }

    @include media_1200 {
        font-size: 22px;
    }

    @include media_900 {
        font-size: 18px;
    }

    @include media_760 {
        font-size: 16px;
    }
}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

p,
span {
    max-width: 100%;
}

.p1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    color: $white;

    @include media_1500 {
        font-size: 24px;
    }

    @include media_1200 {
        font-size: 18px;
    }

    @include media_760 {
        font-size: 14px;
    }
}

.p1b {

    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: $white;

    @include media_1500 {
        font-size: 24px;
    }

    @include media_1200 {
        font-size: 18px;
    }

    @include media_760 {
        font-size: 14px;
    }
}

.p2 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;

    @include media_1500 {
        font-size: 18px;
    }

    @include media_1200 {
        font-size: 14px;
    }

    @include media_760 {
        font-size: 12px;
    }

}

.p2b {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 160%;

    @include media_1500 {
        font-size: 18px;
    }

    @include media_1200 {
        font-size: 14px;
    }

    @include media_760 {
        font-size: 12px;
    }
}

.p3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;

    @include media_1700 {
        font-size: 14px;
    }

    @include media_1200 {
        font-size: 12px;
    }


}

.p3b {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    color: $white;

    @include media_1700 {
        font-size: 14px;
    }

    @include media_1200 {
        font-size: 12px;
    }


}

.p4 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;

    @include media_1500 {
        font-size: 12px;
    }

    @include media_900 {
        font-size: 10px;
    }
}

.b1up {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include media_960 {
        font-size: 14px;
    }

}

.content {
    width: 100%;
    flex: 1 0 auto;
    display: block;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1600px;
    width: 100%;

    @include media_1700 {
        max-width: 1140px;
    }

    @include media_1200 {
        max-width: 800px;
    }

    @include media_960 {
        max-width: 710px;
    }

    @include media_700 {
        max-width: 300px;
    }



}

strong {
    font-weight: 700;
}

.top-offset {
    margin-top: 150px;

    @include media_1700 {
        margin-top: 130px;
    }

    @include media_1200 {
        margin-top: 110px;
    }

    @include media_960 {
        margin-top: 100px;
    }

    @include media_700 {
        margin-top: 60px;
    }


}

.subtitle {}

.btn-style {
    $btn: &;

    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: .3s ease;
    line-height: 1.2;
    text-decoration: none;
    min-width: 320px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, #011022 3.62%, #00224A 17.17%, #6D4CAF 50.03%, #0E167E 76.05%, #030843 100.02%);
    border: 2px solid $gold;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 30px;
    }

    &__text {
        text-align: center;
        position: relative;
        display: block;
        color: $gold;
        text-decoration: none;
        text-transform: uppercase;

    }

    @include media_1700 {
        min-width: 265px;
    }

    @include media_1200 {
        height: 50px;
    }

    @include media_700 {
        min-width: 240px;

        &__text {
            font-size: 14px;
            letter-spacing: 0;
        }
    }
}


ul.marked-list {
    li {
        position: relative;

        margin-bottom: 24px;
        margin-left: 17px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: "";

            display: block;
            width: 6px;
            height: 6px;

            background: $gold;
            /* black */

            transform: rotate(-45deg);
            position: absolute;
            left: -17px;
            top: 5px;
        }
    }

    @include media_1200 {
        li {
            margin-bottom: 15px;
        }
    }
}

ol {
    li {
        position: relative;
        color: $black;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.44;
        counter-increment: step-counter;
        margin-bottom: 25px;

        &:before {
            content: counter(step-counter) ".";
            margin-right: 4px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.44;
        }
    }
}


.object-fit-wrap {
    position: relative;
    transition: .4s ease;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {}

    &:after {
        content: "";
        display: block;
        padding-top: 50%;
    }

    &__img-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        margin: auto;

        @include object-fit(cover, center);
    }

    &_contain & {
        &__img {
            @include object-fit(contain, center);
        }
    }
}

.input-style {
    position: relative;
    width: 100%;

    &__label {
        order: 0;
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        transition: .3s ease;
        transform: translateY(-50%);
        pointer-events: none;
        padding: 0 30px 0;
        text-align: left;
        color: $black;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.71;
    }

    &__input {
        display: block;
        order: 1;
        background-color: $white;
        width: 100%;
        height: 50px;
        padding: 5px 0 7px 30px;
        color: $black;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    &__input:focus~&,
    &__input._active~& {
        &__label {
            transform: translateY(-50px);
        }
    }

    &__input.error~& {
        &__label {
            color: red;
        }
    }
}

.slick-dots {
    padding-bottom: 0;
    bottom: -45px;
    //transform: translateY(120%);

    li {
        margin-bottom: 0;

        button {
            padding: 5px;

            &:before {
                width: 8px;
                height: 8px;
                background-color: $gold;
                transition: $default-transition;
            }
        }
    }

    li.slick-active {
        button {
            &:before {
                box-shadow: 0px 4px 60px #E7CF67;
            }
        }
    }
}

.hamburger-wrap {
    display: none;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    z-index: 90;

    &__hamburger {
        position: relative;
        width: 36px;
        height: 20px;
    }

    &__line {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;

        &:nth-child(2) {
            top: 8px;
        }

        &:nth-child(3) {
            top: auto;
            bottom: 0;
            width: 24px;
        }

        &:nth-child(4) {
            top: auto;
            bottom: 0;
            right: 0;
            left: auto;
            width: 9px;
        }
    }

}

.ps-container {
    .ps-scrollbar-x-rail {
        display: none !important;
    }

    .ps-scrollbar-y-rail {
        opacity: 1 !important;
        width: 5px !important;
        background: rgba(0, 0, 0, 0.2) !important;

        .ps-scrollbar-y {
            right: 0 !important;
            background: $gold !important;
            border-radius: 3px !important;
            width: 5px !important;
            cursor: pointer !important;
        }
    }

    &:hover {
        .ps-scrollbar-y-rail {
            opacity: 1 !important;
        }
    }
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    color: $black;
}

.slick-next,
.slick-prev {
    top: 50%;

    &:before {
        content: "";
        padding: 0;
        width: 28px;
        height: 55px;
        background-size: contain;
    }

    &.slick-disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}


.slick-next {
    right: -30px;
    left: auto;
    transform: translate(100%, -50%);

    &:before {
        background: url(../images/svg/arrow_right.svg);
    }
}

.slick-prev {
    right: auto;
    left: -30px;
    transform: translate(-100%, -50%);

    &:before {
        background: url(../images/svg/arrow_left.svg);
    }
}

.pseudo-hidden {
    position: absolute;
    left: -200vw;
    opacity: 0;
    z-index: -999;
    pointer-events: none;
    overflow: hidden;
    transform: scale(0);
}


.play-btn {
    width: 412px;
    height: 412px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.5s ease;

    &:hover {
        transform: translate(-50%, -50%) scale(1.02);

    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    &_small {
        width: 123px;
        height: 123px;
    }

    @include media_1700 {
        width: 290px;
        height: 290px;

        &_small {
            width: 90px;
            height: 92px;
        }

    }

    @include media_1200 {
        width: 202px;
        height: 202px;

        &_small {
            width: 90px;
            height: 92px;
        }

    }

    @include media_960 {
        width: 170px;
        height: 170px;

        &_small {
            width: 170px;
            height: 170px;
        }

    }

    @include media_700 {
        width: 90px;
        height: 90px;

        &_small {
            width: 90px;
            height: 90px;
        }

    }


}


.main-video {
    position: relative;
    width: 100%;
    max-width: 1260px;
    background-position: center;
    background-size: cover;
    margin: 40px auto;

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #0C0325;
        opacity: 0.7;
    }

    &:after {
        content: "";
        display: block;
        padding-top: 53%;
    }

    @include media_1700 {
        max-width: 890px;

    }

    @include media_1200 {
        margin: 30px auto;
        max-width: 620px;

    }

    @include media_960 {
        margin: 25px auto;
        max-width: 570px;
    }
}

.gold {
    color: $gold;
}

.chain-border {
    position: relative;
    flex: 1 1 auto;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: -60px;
        width: 26px;
        height: 100%;
        background-image: url(../images/common/chain.png)
    }

    @include media_1700 {
        &:after {
            right: -35px;
            width: 20px;
            background-size: contain;
        }
    }

    @include media_1700 {
        &:after {
            right: -22px;
            width: 15px;
        }
    }

    @include media_960 {
        &:after {
            top: auto;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 100%;
            background-image: url(../images/common/chain-horizontal.png)
        }
    }

    @include media_700 {
      &:after {
            height: 15px;
          }
    }

}

.chain-border-wrap {
    display: flex;
    flex-direction: column;

    &:last-child {
        .chain-border:after {
            display: none;
        }
    }
}

.show-more-btn {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $gold;
    display: none;
    text-align: center;
    align-items: center;
    margin: 40px 0 25px;

    &:after {
        content: "";
        display: block;
        margin-left: 10px;
        width: 20px;
        height: 12px;
        background: url(../images/svg/arrow_bottom.svg);
        background-repeat: no-repeat;
        transition: $default-transition;

    }

    &._active:after {
        transform: scale(1, -1);
    }

    @include media_960 {
        display: flex;
        justify-content: center;
    }
}



.particles {
  position: absolute;
  left: 0;
  top:50%;
  width: 20%;
  height: 110%;
  z-index: -1;
  pointer-events: none;
  transform: translateY(-50%);


  &__part {
    @include absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;

    &._active {
      transition: opacity 3s ease;
      opacity: 1;
    }
  }

  &_right {
    left: auto;
    right: 0;
  }
}

section {
  position: relative;
}

.flashlight {
  margin: 200px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}
