@mixin transition {
    transition: all .4s ease;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center_single {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@mixin overflow_bg_left($color: inherit) {
    position: relative;

    &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100vw;
        position: absolute;
        left: -100vw;
        top:0;
        bottom:0;
        background-color: $color;
    }
}

@mixin overflow_bg_right($color: 'inherit') {
    position: relative;

    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100vw;
        position: absolute;
        right: -100vw;
        top:0;
        bottom:0;
        background-color: $color;
    }
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    margin: auto;
}

@mixin overlay($color: rgba(0,0,0,0.5)) {
    position: relative;

    &:before {
        content: "";
        @include absolute();
        background: $color;
    }
}


@mixin overlay($color: rgba(0,0,0,0.5)) {
    position: relative;

    &:before {
        content: "";
        @include absolute();
        background: $color;
    }
}


@mixin zoom_overlay($color: rgba(244, 121, 40, 0.81)) {
    position: relative;
    &:before {
        content: "";
        @include absolute();
        background: $color;
        z-index: 20;
        opacity: 0;
        transition: $default-transition;
    }

    &:hover {
        .zoom-icon,
        &:before,
        .download-link {
            opacity: 1;
        }
    }
}


@mixin media_1800 {
    @media all and (max-width: 1800px) {
        @content;
    }
}


@mixin media_1700 {
    @media all and (max-width: 1700px) {
        @content;
    }
}

@mixin media_1600 {
    @media all and (max-width: 1600px) {
        @content;
    }
}

@mixin media_1500 {
    @media all and (max-width: 1700px) {
        @content;
    }
}

@mixin media_1400 {
    @media all and (max-width: 1400px) {
        @content;
    }
}

@mixin media_1350 {
    @media all and (max-width: 1350px) {
        @content;
    }
}

@mixin media_1300 {
    @media all and (max-width: 1300px) {
        @content;
    }
}

@mixin media_1200 {
    @media all and (max-width: 1200px) {
        @content;
    }
}

@mixin media_1100 {
    @media all and (max-width: 1100px) {
        @content;
    }
}

@mixin media_1000 {
    @media all and (max-width: 1000px) {
        @content;
    }
}

@mixin media_960 {
    @media all and (max-width: 960px) {
        @content;
    }
}

@mixin media_900 {
    @media all and (max-width: 900px) {
        @content;
    }
}
@mixin media_800 {
    @media all and (max-width: 800px) {
        @content;
    }
}
@mixin media_760 {
    @media all and (max-width: 760px) {
        @content;
    }
}

@mixin media_700 {
    @media all and (max-width: 700px) {
        @content;
    }
}

@mixin media_650 {
    @media all and (max-width: 650px) {
        @content;
    }
}

@mixin media_600 {
    @media all and (max-width: 600px) {
        @content;
    }
}

@mixin media_550 {
    @media all and (max-width: 550px) {
        @content;
    }
}

@mixin media_500 {
    @media all and (max-width: 500px) {
        @content;
    }
}

@mixin media_450 {
    @media all and (max-width: 450px) {
        @content;
    }
}

@mixin media_400 {
    @media all and (max-width: 400px) {
        @content;
    }
}


.hide-on-tablet {
    @include media_960 {
        display: none  !important;
    }
}