mixin input(obj)
    -
        type = obj.tag ? obj.tag : 'input'

    +b.input-style
        +e(type).input.js-input(class="" + (obj.mod ? obj.mod : ""),type=(obj.type ? obj.type : "text"),name=obj.name,data-title=obj.title,readonly=(obj.readonly ? "readonly" : false),value=(obj.value ? obj.value : ""))
        +e('span').label!=obj.title


mixin btn(obj)

    if obj.button
        +b('button').btn-style(class="" + (obj.mod ? obj.mod : ""))
            +e.SPAN.wrapper
                +btn-text(obj)

    else
        if obj.href
            +b.btn-style(class="" + (obj.mod ? obj.mod : ""), data-popup=(obj.data ? JSON.stringify(obj.data) : undefined), href=obj.href, title=obj.title)
                +e.SPAN.wrapper
                    +btn-text(obj)
                    
        else if obj.photobox
          +b.btn-style(class="" + (obj.mod ? obj.mod : ""), )
              
              +e.wrapper.js-photo-btn(href=obj.hrefs)
                  +btn-text(obj)
              a(href="images/levels/lvl_1.jpg").js-photo-btn
              a(href="images/levels/lvl_1.jpg").js-photo-btn
              
        else
            +b.btn-style(class="" + (obj.mod ? obj.mod : ""),data-popup=(obj.data ? JSON.stringify(obj.data) : undefined))
                +e.SPAN.wrapper
                    +btn-text(obj)




mixin btn-text(obj)
      +e.SPAN.text.b1up(class=obj.textMod)!=obj.title

mixin pagination()
    +b.pagination
        +e.arrow._prev(href="#")
        +e.link(href="#") 1
        +e.link(href="#" class=" _active") 2
        +e.link._dots ...
        +e.link(href="#") 4
        +e.arrow._next(href="#")

mixin object_fit(src,mod)
    +b.object-fit-wrap(class="" + (mod ? mod : ""))
            +e.img-wrapper
                +e.img.js-object-fit(src=src,alt="")



mixin slider_counter(mod)
    +b.slider-counter(class="" + (mod ? mod : ""))
        +e.current.js-slider-counter-current
        span /
        +e.total.js-slider-counter-total

mixin breadcrumbs(data)
    +b.breadcrumbs
        +e.wrap
            +e.home.fa.fa-home(href="index.html")
            if data.path
                each link in data.path
                    +e.link(href="#")= link

            +e.SPAN.current= data.current


mixin input_style(obj)
    -
        type = obj.textarea ? 'textarea' : 'input'

    +b.input-style(class=obj.wrapMod ? obj.wrapMod : '')
        +e(type).input(class="" + (obj.mod ? obj.mod : ""), type=(obj.type ? obj.type : "text"), name=obj.name,placeholder='',maxlength=obj.maxLength ? obj.maxLength : undefined,value=obj.val ? obj.val : undefined, title=obj.title)
        if (obj.placeholder)
            +e.placeholder !{obj.placeholder}



mixin input_file()
    +b.input-file.js-file-module
        +e.status-block
            +e('input').input.js-file-check.js-file-start(name="file[]",type="file", accept="image/jpg, image/jpeg, image/png")
            +e.status-btn
                +e.I.status-icon.fa.fa-paperclip
                +e.status-text Прикрепить файл (макс. 2мб.)
            //+e.status-btn._loaded
            //    +e.I.status-icon.fa.fa-paperclip
            //    +e.status-text Файл загружен

        +b.file-onload-block
            +e.preview-list.js-file-preview-list

            +e.input-list.js-file-input-list
                //+e.load-more
                //    +e.I.btn-icon.fa.fa-plus
                //    +e.SPAN.btn-text Загрузить еще



mixin hamburger()
    +b.hamburger-wrap.js-open-menu
        +e.hamburger
            +e.line
            +e.line
            +e.line
            +e.line


mixin select(obj)
    +b.select-module.js-select-module.js-body-click-close
        if obj.label
            +e.label=obj.label
                if obj.required
                    span *
        +e.input-container.js-select-module-container
            +e('select').select.js-select-module-select(data-name=obj.name)
                each item in obj.options
                    option(value=item.value)=item.title
            +e.SPAN.text-block.js-select-module-text-block Выберете вариант из списка
        +e.dropdown
            +e.scroll.js-select-module-scrollbar.js-select-module-options
            



mixin play-btn(obj) 
    +b.play-btn(class="" + (obj.mod ? obj.mod : "") + " js-video-link js-open-popup " data-video=obj.id data-popup="video")
        +e.img(src="images/svg/play-btn.svg")
        
        
        
mixin part2(obj)
  if obj.mod
    //+b.particles


      
mixin part(obj)
  if obj.mod
    +b.particles
      +e.part.js-particles(data-mod="gold")
    +b.particles._right
      +e.part.js-particles(data-mod="gold")
  else
    +b.particles
      +e.part.js-particles
    +b.particles._right
      +e.part.js-particles
      
